.canvas {
  padding: 5px;
  border: 2px solid black;
  border-radius:10px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding:10px;
}

.reducedFont {
  font-size: 14px;
}